body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
  position: center;
  font-family: "droidkufi", droidkufi;

}
.form-signin {
  max-width: 330px;
  padding: 10px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="username"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.btn:hover{
  background-color: orange;
  color: black;
}
.panel-primary{
  margin:auto;
}

@font-face {
  font-family: "droidkufi";
  src: url("../fonts/DroidKufi-Regular.ttf") format("truetype");
}
h2, h3,h4,h5 {
  font-family: "droidkufi", droidkufi;
}